div {
  background-color: #f88379;
}

.trigger {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;

  span {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    height: 3px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 4px;
    transition: all .4s;
    &:nth-of-type(1) {
      top: 25%;
    }
    &:nth-of-type(2) {
      top: 50%;
    }
    &:nth-of-type(3) {
      bottom: 25%;
    }
  }
}
